-- Creating migration file to alter the right_name column

-- Increase the length of right_name column in board_user_rights table
ALTER TABLE board_user_rights MODIFY COLUMN right_name VARCHAR(30) NOT NULL;
